@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
}

ul, ol, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  display: none;
}

input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number], input[type=number]:hover, input[type=number]:focus {
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: textfield;
}

/*! ______ОБНУЛЕНИЕ______ */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0px 10px;
}

.test {
  background-color: #30313c;
}
.test__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}
.test__text {
  font-size: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 500;
  line-height: 100%;
  color: #b7b7b7;
}
.test__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.test__timer {
  padding: 50px 0px;
  font-size: 30px;
  color: #c6ca51;
}

.good {
  color: green;
  background-color: rgba(0, 128, 0, 0.15);
}

.bad {
  color: red;
  background-color: rgba(255, 0, 0, 0.15);
}

.animation {
  position: relative;
}
.animation::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  -webkit-animation: line 1s infinite linear;
          animation: line 1s infinite linear;
}

.btn {
  text-transform: uppercase;
  font-size: 20px;
  background-color: red;
  color: rgb(255, 150, 150);
  padding: 20px 20px;
  margin: 10px 0px;
}

.pause {
  border-radius: 50%;
  color: red;
  background-color: rgb(255, 150, 150);
}

@-webkit-keyframes line {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: rgb(255, 255, 255);
  }
  100% {
    background-color: transparent;
  }
}

@keyframes line {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: rgb(255, 255, 255);
  }
  100% {
    background-color: transparent;
  }
}